@model SocialMediaApplication.Models.Post
@{

    List<User> users = ViewBag.Users as List<SocialMediaApplication.Models.User>;
    var theUser = new User();
    foreach (var user in users)
    {
        if (user.UserId.Equals(Model.AuthorId))
        {
            theUser = user;
            break;
        }

    }

}

<!--
<script>
    function loadComments(postId) {
        $.ajax({
            url: '/Post/GetComments', 
            data: { postId: postId },
            success: function (data) {
                $('#collapseComment' + postId).html(data);
            },
            error: function () {
                alert('Error loading comments');
            }
        });
    }
 </script>
 -->


<!--this is the card for one post-->

    <div class="card text-center mt-2">
        <div class="card-header d-flex justify-content-between align-items-center py-2" style="height:70px;">
            <div>
            <img src="@theUser.ProfilePictureUrl" alt="Alternate Text" style="width:50px;" />
            @theUser.Name
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <form asp-action="Follow" method="post">
                    <button type="submit" class="btn btn-outline-info" name="authorId" value="@Model.AuthorId">Follow +</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">@Model.Content</p>
            <a href="#" class="btn btn-info">Go somewhere</a>
        </div>
        <div class="bg-white border border-top-2 py-2">
            <form asp-action="Like" method="post">
                <button type="submit" class="btn btn-link" name="postId" value="@Model.Id">
                    <img src="~/images/heart.svg" alt="Alternate Text" style="width:20px;" /> Like
                </button>
            </form>
            <form asp-action="Dislike" method="post">
                <button type="submit" class="btn btn-link" name="postId" value="@Model.Id">
                    <img src="~/images/heart-outline.svg" alt="Alternate Text" style="width:20px;" /> Unlike
                </button>
            </form>
            <a class="d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2"
               data-bs-toggle="collapse" href="#collapseComment@Model.Id" role="button" aria-expanded="false"
               aria-controls="collapseComment@Model.Id">
                Comments
            </a>
        </div>

        <div class="collapse mt-2" id="collapseComment@Model.Id">
            <!-- here to put the comments in -->
        </div>
    </div>

        <!-- this is the end of the area to show comments and add & edit selves comments -->
    </div>

<!-- end of  the card for one post -->
    
